<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="/static/js/jquery-2.0.2.min.js"></script>
		<script src="/static/js/jquery.form.js"></script>
        <!-- Bootstrap -->
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <script src="/static/js/bootstrap.min.js"></script>
        
        <!-- custom -->        
		<title>修改机器时间</title>

		<h2>功能: 修改英语,台湾,泰语测试服机器时间(测试完成需点恢复时间)</h2>
		<form id="postForm">

                  <label>语言：</label>
            <div>
              <label class="checkbox-inline">
                <input type="radio" name="lang" id="optionsRadios1" value="en" checked>
                英语
              </label>
            </div>
            <div>
              <label class="checkbox-inline">
                <input type="radio" name="lang" id="optionsRadios2" value="tw">
                台湾
              </label>
            </div>
            <div>
              <label class="checkbox-inline">
                <input type="radio" name="lang" id="optionsRadios3" value="tl">
                泰语
              </label>
            </div>
	    <div>
              <label class="checkbox-inline">
                <input type="radio" name="lang" id="optionsRadios4" value="vn">
                越南
              </label>
            </div>

            <div>
              <label class="checkbox-inline">
                <input type="radio" name="lang" id="optionsRadios5" value="yy">
                越狱
              </label>
            </div>
            <div>
              <label class="checkbox-inline">
                <input type="radio" name="lang" id="optionsRadios5" value="android1">
                安卓镜像1
              </label>
            </div>


                
                <label>版本 ：</label>
                <div>
                	<label class="checkbox-inline">
                    <input type="radio" name="version" value= "test" checked="checked"/>
                    最新服
                    </label>
                </div>
                <div>  
                	<label class="checkbox-inline">  
                    <input type="radio" name="version" value= "online" />
                    线上服
                    </label>
                </div>
            
            <div>
                <label>修改时间 ：</label>
                <input type="test" name="mtime" value="2016-01-01 23:57:00" >
            </div>
            <div>		
            	<label>执行结果 ：</label>
		<img id="loading" src="/static/images/ajax-loader.gif" style="display:none;">
		<textarea rows="5" cols="50" class="form-control">
{{stdout}}
{{ret}}
</textarea>
</div>
		<input type="submit" class="btn btn-primary" value="确认修改" />
		</form>


{#        按钮2#}
<input type="button" class="btn btn-warning" id="bt2" value="恢复时间" />

<hr style="height:5px;border:none;border-top:5px ridge green;" />
<h5>
注: </br>
1.修改时间时,日期格式要保持一致.</br>
2.出现不成功的状态,请重试.(可能连接服务器超时所致)</br>
3.恢复时间时,时间不需要填写,但需要选择开始修改的<u>语言和版本</u>


</h5>
		<script>
			$('input[type=submit]').click(function(){
		        $('textarea').val("请稍后...");
			});
			$("#postForm").ajaxForm({
				type: "post",
				timeout:60000,
				url: "{% url "mtime:index2" %}",
				success: function(data){
					$('input[type=test]').val(data.mtime);
					$('textarea').val(data.ret);
				}
			});


		    $(document).ajaxStart(function(){
		        $('#loading').show();
		    }).ajaxStop(function(){
		        $('#loading').hide();
		    });

		    $(document).ajaxError(function(){
		        	$('textarea').val("请求超时,请重试....");
		        });

{#        ############ 按钮 2  部分 ####################}
		    $("#bt2").click(function(){
		        var lang = $("#postForm input[name=lang]:checked").val();
                var version = $("#postForm input[name=version]:checked").val();
{#                console.log(lang, version)#}
                $.ajax({
		    		url:"/mtime/back/?lang="+lang+"&version="+version+"",
                    type:"get",
                    success:function(data){
                        $('textarea').val(data);
                    },
		    	});
		    });




		</script>

	</head>
</html>


